.titulo {
    padding-bottom: 2px;
    background-color: gray;
    text-align: center;
    color: white;
    margin-left: 80px;
    margin-right: 80px;
    margin: auto;
}

.tableShip {
    margin: auto;
    text-align: center;
    width: 100%;
}

.tableShip tbody {
    font-size: 14px;
}

.tableShip tbody tr td {
    vertical-align: 0px;
}

body main div {
    margin: auto;
    align-self: center;
}